/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.page_main__GlU4n {
  display: flex;
  flex-direction: row; 
  height: 100vh;
}
/* right container */
.page_leftContainer__tkDq2{
  width: 25%;
  border-right: 2px solid rgb(183, 182, 182);
  padding: 24px;
}
.page_instagramLogo__60c_a{
  width: 100%;
  font-size: 1.4rem;
  height: 50px;
}
.page_profileNameContainer__5gtXd{
  display: flex;
  flex-direction: row;
  padding: 12px;
}
.page_profileText__5XOHc{
  margin-left: 14px;
  padding-top: 6px;
}
.page_profileImage__O9Evh{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: black;
  /* border:1px solid rgb(131, 128, 128); */
}
.page_profileImageMain___tImS{
  border-radius: 100%;
  border:1px solid rgb(131, 128, 128);
}
.page_newsIcon__al_CC{
  height: 40px;
  width: 40px; 
  font-size: 1.8rem;
  padding: 6px 4px;
}
.page_newsText__G9jGV{
  margin-left: 14px;
  padding-top: 10px;
}
.page_istaNewsContainer__hU9m7{
  margin-bottom: 12px;
}

.page_followingOrFollowContainer__5_H3X{
  display: flex;
  flex-wrap: wrap;
}
.page_followingOrFollowText__8R5fU{
  width: 45%;
  margin: auto;
  padding: 12px;
  /* min-width: 100px; */
  background-color: rgb(182, 221, 186); 
  border-radius: 6px;
  font-size: 0.8rem;
  margin-bottom: 12px;
  margin-top: 6px;
}


/* right continer */
.page_postContainer__u_Agq{
  width: 75%;  
}
.page_newsAndAddsContainer__9c1zY{
  max-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}
.page_newsContainer__kM5Hq{
  width: 70%; 
  min-height: 100vh;
  padding: 24px;
}

.page_trendingContainer__VK__7{
  padding: 12px;
}
.page_newsMainContainer__ZyICL{
  width: 100%;
  /* height: 500px; */
  border-radius: 12px;
  background-color: rgb(243, 243, 243);
  padding-top: 12px;
  margin-bottom: 12px;
}
.page_newsImage__Z6p36{
  height: 400px;
  width: 94%;
  margin: auto;
  border-radius: 12px;
  background-color: rgb(210, 209, 209);
}
.page_trendingNewsText__jUZK3{
  width: 94%;
  padding: 8px;
}
.page_trendingNewsMainContainer__Axodt{ 
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 0px 0px;
  background-color: rgb(243, 243, 243);
}
.page_trendingNewsHeading__zPD8k{
  margin-bottom: 12px;
}
.page_newsImageMain__cu5HC{
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.page_likeAndCommentContainer__HBHgD{
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 0px 18px;
  border-top: 2px solid rgb(183, 182, 182);
  margin-top: 4px;
}
.page_likeContainer__LD_Oh{
  margin-right: 16px;
  font-size: 1.2rem;
  padding-top: 4px;
  display: flex;
  flex-direction: row;

}
.page_likeContainer__LD_Oh:hover{
  cursor: pointer;
}
.page_commentContainer__rAQI8{
  margin-right: 16px;
  font-size: 1.2rem;
  padding-top: 4px;
  display: flex;
  flex-direction: row;
}
.page_commentContainer__rAQI8:hover{
  cursor: pointer;
}
.page_likeIcon__4S2De{  
  margin: auto;

}
.page_commentIcon__egzWx{ 
  margin: auto;
}
.page_likeText__O67lc{
  padding: 6px 8px;
  font-size: 1rem;
}
.page_commentText__bihdo{
  padding: 6px 8px;
  font-size: 1rem;
}
.page_istaNewsContainerSmall___q4o5{
  display: none;
}


@media  screen and (max-width: 400px) {
      .page_trendingContainer__VK__7{
        display: none;
      }
      .page_newsContainer__kM5Hq{
        width: 100%; 
        min-height: 100vh;
        padding: 24px;
      }
      .page_newsText__G9jGV{
        display: none;
      }
      .page_profileText__5XOHc{
        display: none;
      }
      .page_istaNewsContainer__hU9m7{
        display: none;
      }
      .page_leftContainer__tkDq2{
        width: 25%;
        border-right: 2px solid rgb(183, 182, 182);
        padding: 12px;
      }
      
      .page_followingOrFollowText__8R5fU{
        width: 100% !important;
        margin: auto;
        padding: 4px; 
        background-color: rgb(182, 221, 186); 
        border-radius: 6px;
        font-size: 0.5rem;
        margin-bottom: 12px;
        margin-top: 6px;
      }
      .page_newsMainContainer__ZyICL{
        width: 100%;
        height: 300px;
        border-radius: 12px;
        background-color: rgb(243, 243, 243);
        padding-top: 12px;
        margin-bottom: 12px;
      }
      .page_newsImage__Z6p36{
        height: 250px;
        width: 94%;
        margin: auto;
        border-radius: 12px;
        background-color: rgb(210, 209, 209);
      }
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/profileComponents/profileStyles.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.profileStyles_profileDiv__Z0OuU {
  width: 30%;
  padding: 12px;
  min-height: 100vh;
  height: 100%;
}

.profileStyles_followingOrFollowContainer__0u87C {
  display: flex;
  flex-wrap: wrap;
}

.profileStyles_followingOrFollowText__wwtFH {
  width: 45%;
  margin: auto;
  padding: 12px;
  min-width: 100px;
  background-color: rgb(182, 221, 186);
  border-radius: 6px;
  font-size: 0.8rem;
  margin-bottom: 12px;
  margin-top: 6px;
}

.profileStyles_profilepicContainer__Mt7_x {
  width: 100%;
  padding: 12px;
}

.profileStyles_profilepicMain__J_VoK {
  width: 100%;
  border-radius: 100%;
}

.profileStyles_profileNameConatiner__5dg9J {
  text-align: center;
  margin-bottom: 12px;
  margin-top: 4px;
}

.profileStyles_mainImageContainer__w_0Au {
  width: 70%;
  padding: 12px;
  border-left: 2px solid rgb(183, 182, 182);
  height: 100vh;
  overflow-y: scroll;

}

.profileStyles_imagesGridContainer__LA61n {
  width: 100%;
  display: flex;
  flex-wrap: wrap !important;
}

.profileStyles_imagesListContainer__LWav_ {
  width: 60%; 
  
}

.profileStyles_gridImage__KiqWH {
  width: 270px;
  height: 270px;
  margin: 12px;
}

.profileStyles_gridImageImage__Cl24L {
  width: 270px;
  height: 270px;
  justify-content: space-around;
}

.profileStyles_loaderContainer__A_3nk{
  width: 100vw;
  height: 100vh;
  margin: auto;
}
.profileStyles_loaderComponent__jiOT_{
  padding-top: 25% ;
  padding-left: 50%;
}


@media  screen and (max-width: 400px) {
   .profileStyles_mainImageContainer__w_0Au {
    width: 100%;
    padding: 4px;
    border-left: 2px solid rgb(183, 182, 182);
    height: 100vh;
    overflow-y: scroll;
  }
  .profileStyles_gridImage__KiqWH {
    width: 100%;
    height:100%;
    margin: 4px;
  }
  .profileStyles_gridImageImage__Cl24L {
    width: 100%;
    height: 100%;
    justify-content: space-around;
  }
  .profileStyles_imagesListContainer__LWav_{
    width: 100%;
  }
  .profileStyles_backToNews__S_Yb_{
    display: none;
  }
  .profileStyles_profileDiv__Z0OuU {
    width: 30%;
    padding: 4px;
    min-height: 100vh;
    height: 100%;
  } 
 
  /* .imagesGridContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  } */
  
  
}
